
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color:#f5f5f5;
    color: black;
}

header {
    background-color:yellowgreen;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.barcelona {
    padding: 40px 20px;
    text-align: center;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.fotos img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.fotos img:hover {
    transform: scale(1.05);
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: yellowgreen;
    color: white;
}
tr:hover{
    background-color: #ccc;
}
h1{
    font-size: 1.5em;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
}

input, select, button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: yellowgreen;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00264d;
}

#chelsea {
    margin-top: 20px;
    font-weight: bold;
    color: green;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: yellowgreen;
    color: white;
    margin-top: 40px;
}
footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
    color: #21420c;
}
